# StarSchema of Online Retail Project
## Notebook Overview
This notebook contains all SQL queries, explanations, and steps performed for cleaning and modeling Starschema from raw data during the project.

###  Data Source & Tools

This analysiisas performed using **PostgreSQL** as the database engine, with data loaded and queried directly using **Python (psycopg2 / SQLAlchemy)**. 

The datais was imported into a PostgreSQL database, where data cleaning and transformatarewere done using SQL. Pytis was then used to connect to the database, retrieve data using SQL queries, and perform further analysis and visualization in Jupyter Notebooks.

In [2]:
pip install pandas sqlalchemy psycopg2-binary jupyter

Requirement already satisfied: pandas in c:\users\mnata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\users\mnata\anaconda3\lib\site-packages (2.0.30)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: jupyter in c:\users\mnata\anaconda3\lib\site-packages (1.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mnata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mnata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mnata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mnata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mnata\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mnata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: notebook in c:\users\mnata\anaconda3\lib\site-packages (from jupyter) (7.0.8)
Requirement already satisfied: qtconsole in c:\users\mnata\anaconda3\lib\site-packages (from jupyter) (5.5.1)
Requirement already satisfied: jupyter-console in c:\users\mnata\anaconda3\lib\site-packages (from jupyter) (6.6.3)
Requirement already satisfied: nbconvert in c:\users\mnata\anaconda3\lib\site-packages (from jupyter) (7.10.0)
Requirement already satisfied: ipykernel in c:\users\mnata\anaconda3\lib\site-packages (from jupyter) (6.28.0)
Requirement already satisfied: ipywidgets in c:\users\mnata\anaconda3\lib\site-packages (from jupyter) (7.8.1)
Requirement already satisfied: six>=1.5 in c:\users\mnata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (8.25.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (5.7.2)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (1.6.0)
Requirement already satisfied: packaging in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (23.2)
Requirement already satisfied: psutil in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (5.9.0)
Requirement already satisfied: pyzmq>=24 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (25.1.2)
Requirement already satisfied: tornado>=6.1 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (6.4.1)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\mnata\anaconda3\lib\site-packages (from ipykernel->jupyter) (5.14.3)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\mnata\anaconda3\lib\site-packages (from ipywidgets->jupyter) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.6 in c:\users\mnata\anaconda3\lib\site-packages (from ipywidgets->jupyter) (3.6.6)
Requirement already satisfied: jupyterlab-widgets<3,>=1.0.0 in c:\users\mnata\anaconda3\lib\site-packages (from ipywidgets->jupyter) (1.0.0)
Requirement already satisfied: prompt-toolkit>=3.0.30 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-console->jupyter) (3.0.43)
Requirement already satisfied: pygments in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-console->jupyter) (2.15.1)
Requirement already satisfied: beautifulsoup4 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (0.7.1)
Requirement already satisfied: jinja2>=3.0 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (3.1.4)
Requirement already satisfied: jupyterlab-pygments in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (0.1.2)
Requirement already satisfied: markupsafe>=2.0 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (0.8.0)
Requirement already satisfied: nbformat>=5.7 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (5.9.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (1.5.0)
Requirement already satisfied: tinycss2 in c:\users\mnata\anaconda3\lib\site-packages (from nbconvert->jupyter) (1.2.1)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\mnata\anaconda3\lib\site-packages (from notebook->jupyter) (2.14.1)
Requirement already satisfied: jupyterlab-server<3,>=2.22.1 in c:\users\mnata\anaconda3\lib\site-packages (from notebook->jupyter) (2.25.1)
Requirement already satisfied: jupyterlab<4.1,>=4.0.2 in c:\users\mnata\anaconda3\lib\site-packages (from notebook->jupyter) (4.0.11)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\mnata\anaconda3\lib\site-packages (from notebook->jupyter) (0.2.3)
Requirement already satisfied: qtpy>=2.4.0 in c:\users\mnata\anaconda3\lib\site-packages (from qtconsole->jupyter) (2.4.1)
Requirement already satisfied: webencodings in c:\users\mnata\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert->jupyter) (0.5.1)
Requirement already satisfied: decorator in c:\users\mnata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mnata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.18.1)
Requirement already satisfied: stack-data in c:\users\mnata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.2.0)
Requirement already satisfied: colorama in c:\users\mnata\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel->jupyter) (0.4.6)
Requirement already satisfied: platformdirs>=2.5 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter) (305.1)
Requirement already satisfied: anyio>=3.1.0 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (4.2.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (21.3.0)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.4.4)
Requirement already satisfied: overrides>=5.0 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (7.4.0)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.14.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.10)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (0.17.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\mnata\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook->jupyter) (2.0.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\mnata\anaconda3\lib\site-packages (from jupyterlab<4.1,>=4.0.2->notebook->jupyter) (2.2.0)
Requirement already satisfied: babel>=2.10 in c:\users\mnata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\mnata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (0.9.6)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\mnata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (4.19.2)
Requirement already satisfied: requests>=2.31 in c:\users\mnata\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.32.2)
Requirement already satisfied: fastjsonschema in c:\users\mnata\anaconda3\lib\site-packages (from nbformat>=5.7->nbconvert->jupyter) (2.16.2)
Requirement already satisfied: wcwidth in c:\users\mnata\anaconda3\lib\site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter) (0.2.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\mnata\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->jupyter) (2.5)
Requirement already satisfied: idna>=2.8 in c:\users\mnata\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (3.7)
Requirement already satisfied: sniffio>=1.1 in c:\users\mnata\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.3.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\mnata\anaconda3\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter) (21.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\mnata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\mnata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\mnata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\mnata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\mnata\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (0.10.6)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (6.0.1)
Requirement already satisfied: rfc3339-validator in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\mnata\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (0.1.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mnata\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mnata\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mnata\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.22.1->notebook->jupyter) (2024.6.2)
Requirement already satisfied: executing in c:\users\mnata\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (0.8.3)
Requirement already satisfied: asttokens in c:\users\mnata\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\mnata\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter) (0.2.2)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jsonpointer>1.13 in c:\users\mnata\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.1)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Using cached uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Collecting webcolors>=1.11 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter)
  Downloading webcolors-24.11.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: cffi>=1.0.1 in c:\users\mnata\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.16.0)
Requirement already satisfied: pycparser in c:\users\mnata\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter) (2.21)
Requirement already satisfied: arrow>=0.15.0 in c:\users\mnata\anaconda3\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter) (1.2.3)
Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 435.7 kB/s eta 0:00:03
   ---- ----------------------------------- 0.1/1.2 MB 1.0 MB/s eta 0:00:02
   ------------- -------------------------- 0.4/1.2 MB 2.4 MB/s eta 0:00:01
   ------------------------- -------------- 0.7/1.2 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 4.6 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 4.3 MB/s eta 0:00:00
Downloading webcolors-24.11.1-py3-none-any.whl (14 kB)
Using cached fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Using cached isoduration-20.11.0-py3-none-any.whl (11 kB)
Using cached uri_template-1.3.0-py3-none-any.whl (11 kB)
Installing collected packages: webcolors, uri-template, psycopg2-binary, fqdn, isoduration
Successfully installed fqdn-1.5.1 isoduration-20.11.0 psycopg2-binary-2.9.10 uri-template-1.3.0 webcolors-24.11.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
 from sqlalchemy import create_engine, text
import pandas as pd

engine = create_engine("postgresql+psycopg2://postgres:Zahrehkhar1!@localhost:5432/Online_Retail_DB")

In [34]:
query_raw = "SELECT * FROM online_retail_raw LIMIT 10;"
with engine.connect() as conn:
    df_raw = pd.read_sql(query_raw, conn)

print("first 10 rows from (online_retail_raw):")
df_raw

first 10 rows from (online_retail_raw):

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047,United Kingdom

## Create Dimension Tables and Fact table

In [27]:



query = text("""
    CREATE TABLE dim_customer AS
    SELECT DISTINCT
        customer_id,
        country
    FROM online_retail_raw
    WHERE customer_id IS NOT NULL;
""")

# Ø§Ø¬Ø±Ø§ÛŒ Ú©ÙˆØ¦Ø±ÛŒ
with engine.connect() as conn:
    conn.execute(query)
    conn.commit()

In [25]:
from sqlalchemy import text

#  dim_date
query = """
CREATE TABLE IF NOT EXISTS dim_date AS
SELECT DISTINCT
    invoice_date::date AS date_key,
    EXTRACT(DAY FROM invoice_date) AS day,
    EXTRACT(MONTH FROM invoice_date) AS month,
    EXTRACT(YEAR FROM invoice_date) AS year,
    TO_CHAR(invoice_date, 'Day') AS weekday_name,
    EXTRACT(WEEK FROM invoice_date) AS week
FROM online_retail_raw;
"""

with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

print("done")

done

In [35]:
# show first 10 rows from customer_dim
query_customer = "SELECT * FROM dim_customer LIMIT 10;"
with engine.connect() as conn:
    df_customer = pd.read_sql(query_customer, conn)

print("first 10 rows dim_customer:")
print(df_customer)

#show first 10 rows from dim_date
query_date = "SELECT * FROM dim_date LIMIT 10;"
with engine.connect() as conn:
    df_date = pd.read_sql(query_date, conn)

print("\n first 10 rows   dim_date:")
print(df_date)

first 10 rows dim_customer:
  customer_id         country
0       16425  United Kingdom
1       16613  United Kingdom
2       12785        Portugal
3       15738  United Kingdom
4       16563  United Kingdom
5       12623         Germany
6       18048  United Kingdom
7       17239  United Kingdom
8       16680  United Kingdom
9       17498  United Kingdom

 first 10 rows   dim_date:
     date_key   day  month    year weekday_name  week
0  2011-08-18  18.0    8.0  2011.0    Thursday   33.0
1  2010-12-17  17.0   12.0  2010.0    Friday     50.0
2  2011-08-17  17.0    8.0  2011.0    Wednesday  33.0
3  2011-03-31  31.0    3.0  2011.0    Thursday   13.0
4  2011-07-17  17.0    7.0  2011.0    Sunday     28.0
5  2011-06-24  24.0    6.0  2011.0    Friday     25.0
6  2011-01-23  23.0    1.0  2011.0    Sunday      3.0
7  2011-05-23  23.0    5.0  2011.0    Monday     21.0
8  2011-11-10  10.0   11.0  2011.0    Thursday   45.0
9  2011-01-16  16.0    1.0  2011.0    Sunday      2.0

In [37]:
# creating dim_product table
query = """
DROP TABLE IF EXISTS dim_product;

CREATE TABLE dim_product AS
SELECT DISTINCT
    stock_code,
    description
FROM online_retail_raw
WHERE stock_code IS NOT NULL;
"""

with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [44]:
# creating fact table


query = """
DROP TABLE IF EXISTS fact_sales;

CREATE TABLE fact_sales AS
SELECT
    invoice_no,
    stock_code,
    customer_id,
    invoice_date::date AS date,
    quantity,
    unit_price,
    (quantity * unit_price) AS total_price
FROM online_retail_raw
WHERE customer_id IS NOT NULL
  AND invoice_no IS NOT NULL
  AND stock_code IS NOT NULL
  AND invoice_date IS NOT NULL;
"""

with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [48]:
# first of all we will clean duplicates then will define primary keyes
dedup_query = """
DELETE FROM dim_customer a
USING dim_customer b
WHERE a.ctid < b.ctid
  AND a.customer_id = b.customer_id;
"""

with engine.connect() as conn:
    conn.execute(text(dedup_query))
    conn.commit()

In [50]:
remove_nulls_query = """
DELETE FROM dim_customer
WHERE customer_id IS NULL;
"""

with engine.connect() as conn:
    conn.execute(text(remove_nulls_query))
    conn.commit()

In [53]:
#primary key defenition
query = """
ALTER TABLE dim_customer
ADD CONSTRAINT pk_customer PRIMARY KEY (customer_id);
"""

# Ø§Ø¬Ø±Ø§ÛŒ Ú©ÙˆØ¦Ø±ÛŒ
with engine.connect() as conn:
    conn.execute(text(query))
    conn.commit()

In [58]:
dedup_query = """
DELETE FROM dim_product a
USING dim_product b
WHERE a.ctid < b.ctid
  AND a.stock_code = b.stock_code;
"""

remove_nulls_query = """
DELETE FROM dim_product
WHERE stock_code IS NULL;
"""

pk_query = """
ALTER TABLE dim_product
ADD CONSTRAINT pk_product PRIMARY KEY (stock_code);
"""

with engine.connect() as conn:
    conn.execute(text(dedup_query))
    conn.execute(text(remove_nulls_query))
    conn.execute(text(pk_query))
    conn.commit()

for all tables same way for cleaning and key defenition:

In [59]:
dedup_query = """
DELETE FROM dim_date a
USING dim_date b
WHERE a.ctid < b.ctid
  AND a.date = b.date;
"""

remove_nulls_query = """
DELETE FROM dim_date
WHERE date IS NULL;
"""

pk_query = """
ALTER TABLE dim_date
ADD CONSTRAINT pk_date PRIMARY KEY (date);
"""

with engine.connect() as conn:
    conn.execute(text(dedup_query))
    conn.execute(text(remove_nulls_query))
    conn.execute(text(pk_query))
    conn.commit()

### For Primary key defenition  in Fact table its better to use the combination of invoice_no and stock_code, it will prevent duplication.

In [60]:
#we will use 2 column as key
dedup_query = """
DELETE FROM fact_sales a
USING fact_sales b
WHERE a.ctid < b.ctid
  AND a.invoice_no = b.invoice_no
  AND a.stock_code = b.stock_code;
"""

remove_nulls_query = """
DELETE FROM fact_sales
WHERE invoice_no IS NULL
   OR stock_code IS NULL
   OR customer_id IS NULL
   OR date IS NULL;
"""

pk_query = """
ALTER TABLE fact_sales
ADD CONSTRAINT pk_fact_sales PRIMARY KEY (invoice_no, stock_code);
"""

with engine.connect() as conn:
    conn.execute(text(dedup_query))
    conn.execute(text(remove_nulls_query))
    conn.execute(text(pk_query))
    conn.commit()

In [61]:
#lets take a quick look to all tables
tables = ['dim_customer', 'dim_product', 'dim_date', 'fact_sales']


for table in tables:
    print(f"\nðŸ”¹ First 5 rows from {table}:\n")
    query = f"SELECT * FROM {table} LIMIT 5;"
    with engine.connect() as conn:
        df = pd.read_sql(query, conn)
    display(df)

ðŸ”¹ First 5 rows from dim_customer:

  customer_id         country
0       16425  United Kingdom
1       16613  United Kingdom
2       12785        Portugal
3       15738  United Kingdom
4       16563  United Kingdom

ðŸ”¹ First 5 rows from dim_product:

  stock_code                          description
0      23048  SET OF 10 LANTERNS FAIRY LIGHT STAR
1     84031B  CHARLIE LOLA BLUE HOT WATER BOTTLE
2     35095A       BLUE VICTORIAN FABRIC OVAL BOX
3      22233          JIGSAW RABBIT AND BIRDHOUSE
4     90163A        PINK ROSEBUD & PEARL NECKLACE

ðŸ”¹ First 5 rows from dim_date:

         date    year  month   day    weekday
0  2011-08-21  2011.0    8.0  21.0  Sunday
1  2011-04-06  2011.0    4.0   6.0  Wednesday
2  2011-05-25  2011.0    5.0  25.0  Wednesday
3  2011-08-18  2011.0    8.0  18.0  Thursday
4  2011-01-07  2011.0    1.0   7.0  Friday

ðŸ”¹ First 5 rows from fact_sales:

,invoice_no,stock_code,customer_id,date,quantity,unit_price,total_price
0,536365,85123A,17850,2010-12-01,6,2.55,15.30
1,536365,71053,17850,2010-12-01,6,3.39,20.34
2,536365,84406B,17850,2010-12-01,8,2.75,22.00
3,536365,84029G,17850,2010-12-01,6,3.39,20.34
4,536365,84029E,17850,2010-12-01,6,3.39,20.34

## Data Source:
This analysis is based on the Online Retail Dataset provided by the UCI Machine Learning Repository. The dataset includes transactional data from a UK-based online retail company from 2010â€“2011.
Link: https://archive.ics.uci.edu/dataset/352/online+retail